<article class="blog-post" th:fragment="article (posts)" xmlns:th="http://www.thymeleaf.org">
    <th:block th:each="post : ${posts}">
        <div class="blog-post-image">
            <a href="/post"><img src="/images/750x500-1.jpg" alt=""></a>
        </div>
        <div class="blog-post-body" >
            <h2><a href="/post" th:text="${post.title}">Vintage-Inspired Finds for Your Home</a></h2>
            <div class="post-meta"><span>by <a href="javascript:void(0)" th:text="${post.author}">Author</a></span>/<span th:inline="text"><i class="fa fa-clock-o"></i>[[${post.date}]]</span></div>
            <div th:utext="${post.content}">
                <p>ew months ago, we found ridiculously cheap plane tickets for Boston and off we went. It was our first visit
                    to the city and, believe it or not, Stockholm in February was more pleasant than Boston in March. It
                    probably has a lot to do with the fact that we arrived completely unprepared. That I, in my converse and
                    thin jacket, did not end up with pneumonia is honestly not even fair.</p>
            </div>

            <div class="read-more"><a href="#">Continue Reading</a></div>
        </div>

        <hr/>
    </th:block>
</article>