<footer class="footer" th:fragment="footer" xmlns:th="http://www.thymeleaf.org">

    <div class="footer-socials">
        <a href="https://www.facebook.com/profile.php?id=100002444318532" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/writer0713/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://github.com/writer0713" target="_blank"><i class="fa fa-github"></i></a>
    </div>

    <div class="footer-bottom">
        <i class="fa fa-copyright"></i> Copyright 2015. All rights reserved.<br>
        Theme made by <a href="http://www.moozthemes.com">MOOZ Themes</a>
    </div>
</footer>