<nav aria-label="Page navigation example" th:fragment="pagingSearch(paging, currentPageNo, keyword)" xmlns:th="http://www.thymeleaf.org">
    <ul class="pagination justify-content-center">

        <li class="page-item" th:each="pageNo, iter : ${paging}" th:classappend="${pageNo == currentPageNo} ? 'page-item active' : 'page-item'">

            <th:block th:if="${pageNo != currentPageNo}">

                <!-- 이전페이지 / 다음페이지 표시 -->
                <th:block th:if="${iter.size > 10}">
                    <a class="page-link" th:if="${iter.first && pageNo != 1}" th:href="@{|/search?keyword=${keyword}&page=${pageNo}|}" th:text="${'<'}">이전페이지</a>
                    <a class="page-link" th:if="${!iter.first && !iter.last}" th:href="@{|/search?keyword=${keyword}&page=${pageNo}|}" th:text="${pageNo}"></a>
                    <a class="page-link" th:if="${iter.last}" th:href="@{|/search?keyword=${keyword}&page=${pageNo}|}" th:text="${'>'}">다음페이지</a>
                </th:block>

                <!-- 이전페이지 / 다음페이지 없이 페이지넘버만 표시 -->
                <th:block th:if="${iter.size <= 10}">
                    <a class="page-link" th:href="@{|/search?keyword=${keyword}&page=${pageNo}|}" th:text="${pageNo}"></a>
                </th:block>

            </th:block>

            <!-- 현재페이지 클릭 못하도록 -->
            <th:block th:unless="${pageNo != currentPageNo}">
                <a class="page-link" href="javascript:void(0);" th:text="${pageNo}">현재페이지</a>
            </th:block>
        </li>

    </ul>
</nav>