<th:block th:fragment="js( profile )" xmlns:th="http://www.thymeleaf.org">
    <!-- Bootstrap core JavaScript
			================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <th:block th:if="${profile == 'prod'}">
        <script async src="/js/all-min.js"></script>
    </th:block>
    <th:block th:unless="${profile == 'prod'}">
        <script async src="/js/jquery.min.js"></script>
        <script async src="/js/bootstrap.min.js"></script>
        <script defer src="/js/codemirror.min.js"></script>
        <script defer src="/js/clike.min.js"></script>
        <script async src="/js/custom.js"></script>
    </th:block>
    <script src="/js/app.js"></script>
</th:block>