<div class="col-md-4 sidebar-gutter" th:fragment="aside" xmlns:th="http://www.thymeleaf.org">
    <aside>
        <!-- sidebar-widget -->
        <div class="sidebar-widget">
            <!--<h3 class="sidebar-title">About Me</h3>-->
            <div class="widget-container widget-about">
                <a href="/post"><img src="https://avatars3.githubusercontent.com/u/5811400?s=460&v=4" alt=""></a>
                <h4>KIM JUNGHWAN</h4>
                <div class="author-title">Developer</div>
                <p>프로그래밍을 사랑하는,</p>
                <p>프로그래밍을 즐기는 사람입니다.</p>
            </div>
        </div>
        <!-- sidebar-widget -->
        <!--<div class="sidebar-widget">-->
            <!--<h3 class="sidebar-title">Featured Posts</h3>-->
            <!--<div class="widget-container">-->
                <!--<article class="widget-post">-->
                    <!--<div class="post-image">-->
                        <!--<a href="/post"><img src="/images/90x60-1.jpg" alt=""></a>-->
                    <!--</div>-->
                    <!--<div class="post-body">-->
                        <!--<h2><a href="/post">The State of the Word 2014</a></h2>-->
                        <!--<div class="post-meta">-->
                            <!--<span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="/post"><i class="fa fa-comment-o"></i> 23</a></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</article>-->
                <!--<article class="widget-post">-->
                    <!--<div class="post-image">-->
                        <!--<a href="/post"><img src="/images/90x60-2.jpg" alt=""></a>-->
                    <!--</div>-->
                    <!--<div class="post-body">-->
                        <!--<h2><a href="/post">Why The Muppets Needs to Channel 30 Rock</a></h2>-->
                        <!--<div class="post-meta">-->
                            <!--<span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="/post"><i class="fa fa-comment-o"></i> 23</a></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</article>-->
                <!--<article class="widget-post">-->
                    <!--<div class="post-image">-->
                        <!--<a href="/post"><img src="/images/90x60-3.jpg" alt=""></a>-->
                    <!--</div>-->
                    <!--<div class="post-body">-->
                        <!--<h2><a href="/post">The State of the Word 2014</a></h2>-->
                        <!--<div class="post-meta">-->
                            <!--<span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="/post"><i class="fa fa-comment-o"></i> 23</a></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</article>-->
                <!--<article class="widget-post">-->
                    <!--<div class="post-image">-->
                        <!--<a href="/post"><img src="/images/90x60-4.jpg" alt=""></a>-->
                    <!--</div>-->
                    <!--<div class="post-body">-->
                        <!--<h2><a href="/post">Vintage-Inspired Finds for Your Home</a></h2>-->
                        <!--<div class="post-meta">-->
                            <!--<span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="/post"><i class="fa fa-comment-o"></i> 23</a></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</article>-->
                <!--<article class="widget-post">-->
                    <!--<div class="post-image">-->
                        <!--<a href="/post"><img src="/images/90x60-5.jpg" alt=""></a>-->
                    <!--</div>-->
                    <!--<div class="post-body">-->
                        <!--<h2><a href="/post">The State of the Word 2014</a></h2>-->
                        <!--<div class="post-meta">-->
                            <!--<span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="/post"><i class="fa fa-comment-o"></i> 23</a></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</article>-->
            <!--</div>-->
        <!--</div>-->

        <!-- sidebar-widget -->
        <div class="sidebar-widget">
            <h3 class="sidebar-title">Socials</h3>
            <div class="widget-container">
                <div class="widget-socials">
                    <a href="https://www.facebook.com/profile.php?id=100002444318532" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/writer0713/" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://github.com/writer0713" target="_blank"><i class="fa fa-github"></i></a>
                    <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
                    <!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
                    <!--<a href="#"><i class="fa fa-dribbble"></i></a>-->
                </div>
            </div>
        </div>
        <!-- sidebar-widget -->
        <div class="sidebar-widget">
            <h3 class="sidebar-title">Categories</h3>
            <div class="widget-container">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/post">Post</a></li>
                    <li><a href="/about">About Me</a></li>
                </ul>
            </div>
        </div>
    </aside>
</div>