<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments/nav :: nav (${2})"></nav>

		<div class="container">
		<header th:replace="fragments/logo :: logo"></header>
		<section>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<article class="blog-post">
						<div class="blog-post-body">
							<h2><a href="javascript:void(0);">About Author</a></h2>
							<div class="widget-container widget-about">
								<a href="/post"><img src="https://avatars3.githubusercontent.com/u/5811400?s=460&v=4" alt="" style="width: 300px;"></a>
								<h4>KIM JUNGHWAN</h4>
								<div class="author-title">Developer</div>
							</div>
							<div class="blog-post-text">

								<h3><u>CAREER</u></h3>
								<br><br>

								<h4>NAVER Corp</h4>
								<p><mark>2018년 10월 - 현재</mark></p>
								<p>PAPAGO Backend (Server)</p>

								<br><br>
								<hr>
								<br><br>

								<h4>SongAree IT</h4>
								<p><mark>2018년 1월 - 2018년 10월 (10개월)</mark></p>
								<p>SongAree IT는 사용자와 의료인의 원활한 커뮤니케이션을 위한 플랫폼을 만들고 있습니다.</p>
								<p>우리가 준비하고 있는 서비스는 다음과 같습니다.</p>
								<p>-Medical Clinic Solution</p>
								<p>-Medical Mobile application</p>
								<p>우리의 삶에서 큰 부분을 차지하는 의료 분야에도 4차 산업혁명의 바람이 불어오고 있습니다. </p>
								<p>빅데이터와 인공지능기술이 다양한 의료 세부 분야에서 접목되어 개발되고 있습니다. </p>
								<p>이런 사회적 분위기에서 저희 SongAree IT는 환자와 의료진 모두에게 유용한 Medical solution을 만들고자 합니다. </p>

								<br><br>
								<hr>
								<br><br>

								<h4>NAVER Corp (China)</h4>
								<p><mark>2014년 12월 - 2017년 12월 (3년 1개월)</mark></p>
								<p>NAVER Dictionary Team </p>
								<p>네이버 사전 및 번역 팀은 한국 최고의 사전 서비스팀입니다. 한국뿐만 아니라 전 세계 여러 나라에 서비스를 제공하고 있습니다. 문장 번역기, 사이트 번역기, 번역 모듈 등의 개발에 참여했습니다.</p>

								<br><br>
								<hr>
								<br><br>

								<h4>Belkatonic</h4>
								<p><mark>2014년 1월 - 2014년 12월 (12개월)</mark></p>
								<p>한글과 영어 글쓰기에 필요한 모든 기능을 웹 브라우저 내에서 통합적으로 제공하는 웹 어플리케이션인 라이터(Writer)를 개발합니다. </p>
								<p>스펠링, 문법 체크 외에 단어 추천 및 예측, 용례 제시 등 글쓰기에 필요한 기능이 자연어 처리 기술에 기반하여 실시간으로 제공됩니다.</p>
								<p>글쓰기 플랫폼 베타버전 개발에 참여했습니다.</p>

								<br><br>
								<hr>
								<br><br>

								<h3><u>SKILLS</u></h3>
								<br><br>
								<ul class="list-group">
									<li class="list-group-item">JAVA</li>
									<li class="list-group-item">SPRING FRAMEWORK</li>
									<li class="list-group-item">SPRING BOOT</li>
									<li class="list-group-item">LINUX</li>
									<li class="list-group-item">APACHE</li>
									<li class="list-group-item">TOMCAT</li>
									<li class="list-group-item">GIT / SVN</li>
									<li class="list-group-item">DOCKER</li>
									<li class="list-group-item">MYSQL</li>
									<li class="list-group-item">GRADLE / MAVEN</li>
									<li class="list-group-item">JS (ES5 / ES6+)</li>
									<li class="list-group-item">NODE.JS</li>
									<li class="list-group-item">TYPESCRIPT</li>
									<li class="list-group-item">ANGULAR2+</li>
									<li class="list-group-item">IONIC FRAMEWORK</li>
									<li class="list-group-item">WEBPACK</li>
									<li class="list-group-item">RxJS</li>
									<li class="list-group-item">TDD</li>
									<li class="list-group-item">CI</li>
								</ul>
							</div>
						</div>
					</article>
				</div>
			</div>
		</section>
		</div><!-- /.container -->

		<footer class="footer" th:replace="fragments/footer :: footer"></footer>

		<th:block th:replace="fragments/script :: js"></th:block>
	</body>
</html>