<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="fragments/head :: head( ${profile} )"></head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments/nav :: nav (${1})"></nav>

		<div class="container">
		<header th:replace="fragments/logo :: logo"></header>
		<section>
			<div class="row">
				<div class="col-md-8">
					<article class="blog-post" th:replace="fragments/article :: article(${posts})"></article>
				</div>
				<div class="col-md-4 sidebar-gutter" th:replace="fragments/sidebar :: aside ( ${categoryNo} )"></div>
			</div>
		</section>
		<section>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-2 text-center">
					<th:block th:if="${isSearch}">
						<nav th:replace="fragments/pagination-search :: pagingSearch( ${paging}, ${currentPageNo}, ${keyword} )"></nav>
					</th:block>
					<th:block th:unless="${isSearch}">
						<nav th:replace="fragments/pagination :: paging( ${paging}, ${currentPageNo} )"></nav>
					</th:block>

				</div>
			</div>
		</section>
		</div><!-- /.container -->

		<footer class="footer" th:replace="fragments/footer :: footer"></footer>

		<th:block th:replace="fragments/script :: js ( ${profile} )"></th:block>
	</body>
</html>